# 11am gmt = 3am Pacific
0 11 * * * /bin/sh -lc DIR/backup >/var/log/backup.log 2>&1
# SSL Certificate renewal
30 11 * * * DIR/renew-ssl >/var/log/renew-ssl.log 2>&1
# Maintain DB
15 10 * * * /bin/sh -lc DIR/maintain-db >/var/log/maintain-db.log 2>&1
